{{> pageNav/pageNav}}
{{> popup/popup}}
{{> scripts/scripts}}


<footer class="footer">
    <div class="wrapper footer-container">
        <div class="footer-container-top">
            <div class="footer-container-top-left">
                <a href="#" class="footer-container-top-left-item">Проекты</a>
                <a href="#" class="footer-container-top-left-item">Для партнеров</a>
                <a href="#" class="footer-container-top-left-item">О компания</a>
                <a href="#" class="footer-container-top-left-item">СМИ о нас</a>
                <a href="#" class="footer-container-top-left-item">Контакты</a>    
            </div>
            <div class="footer-container-top-phone">
                <a href="tel: +7 812 309-10-02">+7 812 309-10-02</a>
                <span>Пн – Пт 10:00–18:30</span>
            </div>
        </div>
        <div class="footer-container-bottom">
            <div class="footer-container-bottom-left">
                <div class="footer-container-bottom-left-c">© 2020 Корда Групп. Все права защищены.</div>
                <a href="#">
                    <div class="footer-container-bottom-left-pol">Политика конфиденциальности</div>
                </a>
            </div>
            <div class="footer-container-bottom-make">
                Разработка сайта – <a href="#">Markello</a>
            </div>
        </div>
    </div>
</footer>