<header class="header">
    <div class="wrapper-header header-container">
        <a href="#" class="header-container-logo">
            <img class="logo-s des" src="static/img/content/logo.png" alt="">
            <img class="logo-m des hide" src="static/img/content/logo_black.png" alt="">
            <img class="logo-s mob" src="static/img/content/logo-mob.png" alt="">
            <img class="logo-m mob hide" src="static/img/content/logo-mob-white.png" alt="">
        </a>
        <div class="header-container-middle">
            <a href="#" class="header-container-middle-item">Каталог</a>
            <a href="#" class="header-container-middle-item">Проекты</a>
            <a href="#" class="header-container-middle-item">Для партнеров</a>
            <a href="#" class="header-container-middle-item">О компания</a>
            <a href="#" class="header-container-middle-item">СМИ о нас</a>
            <a href="#" class="header-container-middle-item">Контакты</a>
            <button class="header-container-middle-theme theme moon">
                {{Icon iconName="moon"}}
                Темная тема
            </button>
            <button class="header-container-middle-theme theme sun hide">
                {{Icon iconName="sun"}}
                Светлая тема
            </button>
        </div>
        <div class="header-container-phone">
            <a href="tel: +7 812 309-10-02">+7 812 309-10-02</a>
            <span>Пн – Пт 10:00–18:30</span>
        </div>
        <div class="header-container-menu close-sun">
            {{Icon iconName="menu"}}
        </div>
        <div class="header-container-menu close-moon hide">
            {{Icon iconName="menu_white"}}
        </div>
    </div>

    <div class="menu hide">
        <div class="menu-top">
            <div class="header-container-menu close-sun">
                {{Icon iconName="menu__close"}}
            </div>
            <div class="header-container-menu close-moon hide">
                {{Icon iconName="menu__close__white"}}
            </div>
        </div>
        <div class="menu-middle">
            <div class="menu-middle-item">Каталог</div>
            <div class="menu-middle-item">Проекты</div>
            <div class="menu-middle-item">Для партнеров</div>
            <div class="menu-middle-item">О компания</div>
            <div class="menu-middle-item">СМИ о нас</div>
            <div class="menu-middle-item">Контакты</div>
            <button class="header-container-middle-theme theme moon">
                Темная тема
                {{Icon iconName="moon"}}
            </button>
            <button class="header-container-middle-theme theme sun hide">
                Светлая тема
                {{Icon iconName="sun"}}
            </button>
        </div>
        <div class="menu-bottom">
            <div class="header-container-phone">
                <a href="tel: +7 812 309-10-02">+7 812 309-10-02</a>
                <span>Пн – Пт 10:00–18:30</span>
            </div>
        </div>
    </div>
</header>