<div class="pageNavFixed">
	<div class="pageNavFixed__cont">
		<div>
			<b>Страницы</b>
			<a href="index.html">Главная</a>
			<a href="catalog.html">Каталог</a>
			<a href="projects.html">Проекты</a>
			<a href="type-comp.html">Типовая страница комплекса</a>
			<a href="part.html">Партнёры</a>
			<a href="type-pro.html">Типовая страница проекта</a>
			<a href="about.html">О компании</a>
			<a href="new.html">Новость</a>
			<a href="404.html">404</a>
			<a href="news.html">Новости</a>
			<a href="news-rez.html">Результат поиска</a>
			<a href="news-not-found.html">Результат поиска/ ничего не найдено</a>
			<a href="contact.html">Контакты</a>
			<a href="type-str.html">Типовая страница</a>
			<a href="downloads.html">Загрузки</a>
		<div>
		</div>
			<b>Попапы</b>
			<a href="#" class="completed" data-popup='form'>Обратная связь</a>
			<a href="#" class="completed" data-popup="thanx">Спасибо</a>
		</div>
	</div>
</div>